<div class="table-container">
  <h2>Requests with trap_id=<%= params[:trap_id] %></h2>
<table>
  <tr class="row-header">
    <th class="min-50">Query params</th>
    <th class="min-50">Query string</th>
    <th>Cookies</th>
    <th>Headers</th>
    <th class="min-50">Scheme</th>
    <th class="min-50">Request method</th>
    <th>Remote ip</th>
    <th>Request date</th>
  </tr>
  <% @requests.each do |app| %>
      <%= render "table_row", {app_request:app} %>
  <% end %>
</table>
  <% if @requests.length == 0 %>
    <h3 class="not-found">Requests not found</h3>
  <% end %>
</div>